body{
	width: 1920px;
	height: 11000px;
	display: inline-block;
	margin-left: calc((100% - 1920px) / 2);
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}
html{
	scroll-behavior: smooth;
}

a{
text-decoration: none;
color: #161132;
}
input{
	border-style: none;
	border: 2px	solid black;
	border-radius: 5px;
}
input:active{
	border-style: none;
}
.wrapper{
margin: 0 auto;	
}
#image_b{
	display:block;
	width: 1920px;
	height: auto;
}
#brand{
	position: fixed;
	top: -1px;
	display:block;
	height:80px;
	width: 1920px;
	font-weight: 600;
	background-color: white;
	z-index: 1;
}
#brand_img{
	position: relative;
	top: 30px;
	left: 60px;
	transition:0.7s all ease;
}
#brand_img:hover{
transform: scale(1.3);
}
#nvt_1{
	left: 300px;
}
#nvt_2{
	left: 500px;
}
#nvt_3{
	left: 700px;

}
#nvt_4{
	left: 900px;
}
.dropdown {
  position: relative;
  display: inline-block;
  color: #161132;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 28px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.nav_span_text{
	position: relative;
	margin-top: 30px;
	display: inline-block;
	font-size: 20px;
	transition:0.7s all ease;
}
.nav_span_text:hover{
	transform: scale(1.15);
  color: red;
}

.nav_login{
	display: inline-block;	
	position: relative;
	font-size: 20px;
	left: 1100px;
	border-radius: 10px;
	color: #161132;
	cursor: pointer;
	transition:0.7s all ease;

}
.nav_login:hover{
	transform: scale(1.15);
  color: red;
}
#Login{
	display: block;
	position: relative;
	top: -5px;
	left: 1500px;
	width: 330px;
	font-size: 16px;
	vertical-align: middle;
	transition:0.7s all ease;
	color: #54524f;
	display:none;
	border-radius: 20px;
	border: 1px solid	lightgrey;
  padding: 20px 20px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 20px;
  box-shadow: 2px 2px  2px -2px rgba(0, 0, 0, 0.1);
}
#login_wrapper{
	border: 1px	solid grey;
	border-radius: 10px;
	padding: 5px;
	background-color: #fff;
}
#nav_login_text:hover{
	transform: scale(1.15);
  color: red;
}
#Login i{
	display: inline-block;
	position: relative;
	right: -22px;
	top: -17px;
	cursor: pointer;
	border: 1px solid grey;
	border-radius: 40%;
	padding: 3px;
	background-color: white;
}
#login_name1, #login_password1{
	display: inline-block;
	position: relative;
	padding-right: 16px;
}
#login_password1{
	padding-right: 34px;
	}
#login_remember{
	display: inline-block;
	position: relative;
	left: 0px;
	font-size: 10px;
	padding-bottom: 10px;
}
#Login:hover{
	transform: scale(1.15);
}
#Login span{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

#login_submit{
	display: block;
	position: relative;
	border-radius: 5px;
	border: 1px solid grey;
	cursor: pointer;
	left: 0px;
	font-size: 17px;
	margin: 15px 0px 15px 15px ;
	width: 280px;
}
#login_register{
	position: relative;
	cursor: pointer;
	border-radius: 4px;
	border: 1px solid grey;
	top: -15px;
	left: 10px;

}
#login_trobble{
	position: relative;
	border-radius: 4px;
	border: 1px solid grey;
	top: -15px;
	right: 10px;
	margin-left: 132px;
	cursor: pointer;
}
#nav_block{
	position: relative;
	width: 100%;
	height: 150px;
	display: inline-block;
}
#wrapper_page_1{
	background-image: url(../image/page_1_background.jpg);
	background-repeat: no-repeat;
	width: 1920px;
	height: 1333px;
}
#title_1{
	position: relative;
	display: inline-block;
	top: 320px;
	left: 100px;
	font-size: 110px;
	color: #fff;
}
#sub_title1{
	position: relative;
	display: inline-block;
	top: 60px;
	right: 510px;
	font-size: 30px;
	font-style: italic;
	color: #fff;
}
.read_more {
	display: block;
	position: relative;
	top: 120px;
	height: 50px;
	width: 220px;
	border-radius: 25px / 25px;
	border-style: none;
	background-color: #fff;
	font-size: 25px;
	font-weight: 800;
}
#text_page_1{
	isplay: inline-block;
	position: relative;
	top: 130px;
	height: 90px;
	width: 500px;
	font-size: 20px;
	font-style: italic;
	font-weight: 200;
	text-align: justify;
	color: #fff;
}
#wrapper_page_2{
	display: block;
	width: 1920px;
}
#title_2{
	display: block;
	width: 1920px;
	height: 50px;
	text-align: center;
	font-weight: 900;
	font-size: 70px;
	padding-top: 140px;
	color: #161132;
}
#sub_title_2{
	display: block;
	width: 1920px;
	font-weight: 200;
	font-size: 22px;
	text-align: justify;
	color: #161132;
	text-align: center;
	margin-top: 50px;
}
#page2_colums{
	background-image: url(../image/page_2_background.jpg);
	background-repeat: no-repeat;
	width: 1920px;
	margin-top: 110px;
	padding-bottom: 200px;
	color: white;
}
#collum_left{
	display: inline-block;
	height: 706px;
	width: 453px;
	margin-left: 160px;
	background-color: #241e46;
}
#collum_center{
	display: inline-block;
	height: 706px;
	width: 453px;
	margin-left: 120px;
	background-color: #241e46;	
}
#collum_right{
	display: inline-block;
	height: 706px;
	width: 453px;
	margin-left: 120px;
	background-color: #241e46;
}
.collum_text_1{
	display: inline-block;
	margin-top: 83px;
	margin-left: 23px;
	font-size: 23px;
	font-weight: 800;
}
.collum_text_2{
	display: inline-block;
	margin-top: 23px;
	margin-left: 23px;
	font-size: 20px;
}
.photo_store{
	color: #fff;
}
.photo_store:hover {
	color: red;
}

.show_more{
	display: block;
	margin: 0 auto;
	margin-top: 73px;
	height: 105px;
	width: 440px;
	border-style: none;
	border-radius: 52.5px / 52.5px;
	font-weight: 800;
	font-size: 40px;
	letter-spacing: 5px;
	background-color: #241e46;
}
.show_more a{
	color: white;
}
#wrapper_page_3{
	display: block;
	width: 1920px;
}
#page3_box_1{
	display: block;
	wight: 1920px;
	height: 1050px;
	display: block;
	margin-top: 50px;
	background-color: #241e46;
	color: white;
}
#page3_box_1 img{
	float: left;
	height: 100%;
	width: 960px;
}
#page3_box_1_tittle{
	display: block;
	padding-top: 267px;
	padding-left: calc(50% + 88px);
	font-weight: 800;
	font-size: 56px;
}
#page3_box_1 p {
	margin-right: 200px;
	padding-left: calc(50% + 88px);
	font-size: 30px;
}
#page3_box_1 button{
	margin-left: calc(50% + 88px);
	background-color: white;
	font-size: 25px;
}
#page3_box_2{
	wight: 1920px;
	height: 1050px;
	display: block;
	background-color: #241e46;
	color: white;	
}
#page3_box_2 img{
	float: right;
	height: 100%;
	width: 960px;
}
#page3_box_2_tittle{
	display:  inline-block;
	margin-top: 267px;
	margin-left: 88px;
	font-weight: 800;
	font-size: 56px;
}
#page3_box_2 p {
	font-size: 30px;
	margin-left: 88px;
	margin-right: calc(50% + 200px);
}
#page3_box_2 button{
	margin-top: 0px;
	margin-left: 88px;
	background-color: white;
}
#wrapper_page_4 {
	display: inline-block;
}
#page_4_title{
	display: block;
	background-image: url(../image/page_3_background.jpg);
	background-repeat: no-repeat;
	width: 1920px;
	height: 1050px;
	padding-top: 500px;
	text-align: center;
	font-size: 70px;
	font-weight: 600;
	color: white;
}
#page_4_title p{
	display: block;
	text-align: center;
	padding-left: 100px;
	padding-right: 110px;
 	font-size: 35px;
	font-weight: 400;
}
#wrapper_page_5{
	display: block;
	background-image: url(../image/page_5_background.jpg);
	background-repeat: no-repeat;
	font-weight: 800;
	font-size: 83px;
	font-style: italic;
	width: 1920px;
	height: 1300px;
}
#page_5_title{
	display: inline-block;
	margin-left: 1350px;
	margin-top: 500px;
	color: #fff;
	text-shadow: 4px -2px 4px #cbcbcb;
}
#page_5_subtitle{
	display: inline-block;
	margin-left: 1120px;
	margin-top: 0px;
	color: #fff;
	text-shadow: 4px -2px 4px #cbcbcb;
}
#wrapper_page_6{
	width: 1920px;
	height: 1150px;
	background-image: url(../image/page_6_background.jpg);
	background-repeat: no-repeat;
}
#page_6_collum_left{
	display: inline-block;;
	margin-top: 100px;
	margin-left: 150px;
	width:450px;
	height:170px;
}
.page_6_titles{
	font-size: 35px;
	color:#453f83
}
.page_6_titles p{
	font-size: 20px;
	color:#161132;
}
.page_6_titles a:hover{
	color: red;
}
#page_6_collum_center{
	display: inline-block;
	margin-top: 100px;
	margin-left: 90px;
	width:450px;
	height:170px;
}
#page_6_collum_right{
	display: inline-block;
	margin-top: 100px;
	margin-left: 90px;
	width:450px;
	height:170px;
}
#page_6_footer{
	padding-top: 340px;
	text-align: center;
	color: #161132;
}
#page_6_title{
	display: block;
	font-size: 80px;
	font-weight: 900;
	font-style: italic;
}
#page_6_footer_text{
	font-size: 25px;
	font-weight: 600;
}
#page_6_footer_text2{
	display: block;
	margin-top: 80px;
	font-size: 25px;
	font-weight: 900;
	color: #161132;
}
#wrapper_page_7{
	background-image: url(../image/page_7_background.jpg);
	background-repeat: no-repeat;
	display: block;
	width: 1920px;
	height: 1100px;
	text-align: center;
}
#page_7_title{
	display: inline-block;
	margin-top: 350px;
	font-size: 83px;
	color: #fff;
	font-weight: 600;

}
#page_7_text{
	display: block;
	margin-top: 100px;
	font-size: 33px;
	color: #fff;
}
#page_7_bot{
	display: inline-block;
	width: 1020px;
}

#email_form{
	display: block;
	position: absolute;
	border-radius: 5px / 5px;
	width: 1020px;
	height: 84px;
	margin-top: 115px;
	background-color: white;
	color: #161132;
	font-size: 26px;
	border-style: none;
	text-indent: 20px;
}
#email_form:focus{
	border-style:  none;

}
#subscribe_form{
	display: inline-block;
	position: relative;
	left: 390px;
	top: 112px;
	width: 320px;
	height: 92px;
	border-radius: 0px 42px 42px 0px;
	border-style: none;
	background-color: #161132;
	letter-spacing: 2px;
	font-size: 32px;
	font-weight: 600;
	color: white;
	cursor: pointer;
}

#wrapper_footer{
	background-image: url(../image/footer_background.jpg);
	background-repeat: no-repeat;
	position: absolute;
	width: 1920px;
	height: 1115px;
	color: white;
}
#footer_left{
	display: inline-block;
	position: absolute;
	float: left;
	width: 960px;
	height: 100%;
}
#footer_left_title{
	position: absolute;
	top: 465px;
	left: 85px;
	font-size: 35px;
}
#footer_left_text{
	position: absolute;
	top: 545px;
	left: 85px;
	width: 600px;
	font-size: 25px;
	font-weight: 100;
}
#icons{
	display: inline-block;
	position: relative;
	top: 725px;
	left: 85px;
	color: #7f7770;
	line-height: 60px;
	text-align: center;
}

.fab.fa-instagram, .fa-facebook-f, .fa-twitter, .fa-whatsapp{
	display: inline-block;
	width: 60px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid transparent;
	background-color: white;
	margin-right: 22px;
	padding-top: 10px;
	font-size: 40px;
	cursor: pointer;
}
.fab.fa-instagram:hover {
	color: red;
	border: 1px solid red;
}
.fa-facebook-f:hover{
	color: red;
	border: 1px solid red;
}
.fa-twitter:hover{
	color: red;
	border: 1px solid red;
}
.fa-whatsapp:hover{
	color: red;
	border: 1px solid red;
	}

#footer_center_1{
	display: inline-block;
	position: absolute;
	left: 960px;
	width: 320px;
	cursor: pointer;
}
#footer_center_2{
	display: inline-block;
	position: absolute;
	left: 1280px;
	width: 320px;
	cursor: pointer;
}
#footer_right{
	display: inline-block;
	position: absolute;
	left: 1600px;
	width: 320px;
	cursor: pointer;
}
.footer_title{
	display: inline-block;
	position: absolute;
	top: 460px;
	font-size: 35px;
	font-weight: 100;
}
.footer_text{
	display: inline-block;
	position: absolute;
	padding: 0px;
	list-style: none;
	top: 545px;
	font-size: 25px;
	font-weight: 100;
	line-height: 55px;
	cursor: pointer;
}
.footer_text li:hover{
	color: red;
}

.gallery li img {
        transition: opacity .3s ease-in-out;
    }

        .gallery li img:hover {
            opacity: .75;
        }

#lightbox-overlay {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(29, 31, 33, .95);
    transition: opacity .3s ease-in;
}

    #lightbox-overlay.visible {
        opacity: 1;
        pointer-events: auto;
    }

#lightbox-image {
    max-height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    background: transparent url("image/loading.gif") 50% 50% no-repeat;
    text-indent: -99999px;
}
